.custom-bg {
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.appointment-custom-bg,
.contact-bg {
    background-image: url(../assets/images/appointment.png);
    background-repeat: no-repeat;
    background-size: cover;
}
