.custom-bg {
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.appointment-custom-bg,
.contact-bg {
    background-image: url(../assets/images/appointment.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-footer-custom {
    background-image: url(../assets/images/footer.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.bg-app-custom {
    background-image: url(../assets/images/appointment.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section_banner {
    background-image: url(../assets/images/section-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.slick-arrow {
    display: none !important;
}

.cta_bg {
    background-image: url(../assets/images/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.team_section_banner {
    background-image: url(../assets/images/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
