.custom-bg,
.appointment-custom-bg,
.contact-bg,
.bg-footer-custom,
.bg-app-custom,
.section_banner,
.contact_banner,
.cta_bg,
.team_section_banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.appointment-custom-bg,
.contact-bg {
    background-image: url(../assets/images/appointment.png);
}

.custom-bg {
    background-image: url(../assets/images/bg.png);

}

.bg-footer-custom {
    background-image: url(../assets/images/footer.png);

}

.bg-app-custom {
    background-image: url(../assets/images/appointment.png);
}

.section_banner {
    background-image: url(../assets/images/section-bg.jpg);
}

.contact_banner {
    background-image: url(../assets/images/contact-bg.jpg);
}

.slick-arrow {
    display: none !important;
}

.cta_bg {
    background-image: url(../assets/images/bg-2.jpg);
}

.team_section_banner {
    background-image: url(../assets/images/bg-1.jpg);
}
